*{
	margin: 0;
	padding: 0;
}
html{
	overflow-x: hidden;
	font-size: 80%;
}
html::-webkit-scrollbar{
	width: 1rem;
}
html::-webkit-scrollbar-track{
	background: gray;
}
html::-webkit-scrollbar-thumb{
	background: blue;
}
.box1{
	text-align: center;
	border-bottom: 3px solid blue;
	padding: 1% 1%;
	background: gray;
	margin-bottom: 2%;
}
.box1 span{
	font-size: 180%;
	font-family: serif;
	color: white;
}
.table1{
	margin-left: 1%;
}
.table{
	font-family: serif;
	font-size: 150%;
}
.tr1{
	text-align: center;
	font-family: serif;
	font-size: 150%;
	margin-top: 2%;
	margin-bottom: 1.3%;
}
.tr2{
	border-bottom: 1px solid deepskyblue;
	background: skyblue;
	font-style: italic;
	color: blue;
	margin-left: 3%;
}
.box4{
	text-transform: capitalize;
}
.box5{
	font-family: serif;
	text-align: center;
	font-size: 180%;
	margin-top: 5%;
	margin-bottom: 3%;
	font-weight: bold;
}


@media(max-width: 550px){
	html{
		font-size: 50%;
	}
}